{% extends "layout.html" %}
{% block content %}

<header>
    <h1 class="logo">Home</h1>
</header> 

<form action="/emails" method=post role="form">
	<div class="input-group">
		<input type="url" name="input" class="form-control" required>
		<div class="input-group-btn" data-toggle="buttons">
			<label class="btn btn-primary active">
				<input type="radio" name="options" value='url' id="url" checked="checked">URL</input>
			</label>
			<label class="btn btn-primary">
				<input type="radio" name="options" value='textbody' id="textbody">Text</input>
			</label>
		</div><!-- /btn-group -->
	</div><!-- /input-group -->
</br>
<button type="submit" class="btn btn-success">Submit</button>
<div align="center">
	{% if text %}
		<div>{{count}} email(s) found from text</div>
	{% elif link_count %}
		<div>{{count}} email(s) found from {{link_count}} link(s)</div>
	{% endif %}
	<div id="info"></div>
</div>
</form>
</br>

{% if emails %}
<div class=''>
	<table class="table table-striped">
		{% if url_list %}
			<thead>
				<tr>
				{% for url in url_list %}
					<th><a href='{{url}}'>{{url}}</a></th>
				{% endfor %}
				</tr>
			</thead>
		    <tbody>
		    	<tr>
				{% for email_list in emails %}
					<td>{{email_list}}</td>
				{% endfor %}
				</tr>
			</tbody>

		{% else %}
			<thead>
		        <th><a href='{{url}}'>{{url}}</a></th>
		    </thead>
		    <tbody>
		    	<tr><td>{{emails}}</td></tr>
			<!-- {% for email in emails %}
				<tr><td>{{email}}</td></tr>
			{% endfor %} -->
			</tbody>
		{% endif %}
	</table>
</div>
{% endif %}


<!-- secret table to add emails on the fly -->
<table class="table table-striped">
	<thead>
	</thead>
	<tbody id="data"></tbody>
</table>

{% for i, count, link_count, url in data: %}
<script>
  $("#data").append('<tr><td><a href=\'{{url}}\'>{{url}}</a></td><td>{{ i }}</td></tr>')
  $("#info").text("{{ count }} emails found from {{link_count}} links")
</script>
{% endfor %}

{% endblock %}