{% extends "layout.html" %}
{% block content %}

<header>
    <h1 class="logo">Home</h1>
</header> 

<form action="{{url_for('show_emails')}}" method=post role="form">
	<div class="form-group">
		<label for="url">Enter URL:</label>
		<input type="url" class="form-control" name="url" id="url" placeholder="URL" required>
	</div>
	<button type="submit" class="btn btn-success">Submit</button>
	{{count}} email(s) found
</form>
</br>

{% if emails %}
<div class=''>
	<table class="table table-striped">
		<thead>
	        <tr>
	        	<th>Email</th>
	        </tr>
	    </thead>
	    <tbody>
		{% for email in emails %}
			<tr><td>{{email}}</td></tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}


<!-- {% for email in results %}
	{{ email }} </br></br>
{% endfor %} -->

<!-- {{ emails }}
 -->
{% endblock %}